<!DOCTYPE html>
<html lang="ru" class="page">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>{{ metadata.title }}</title>
  <meta name="description" content="{{ metadata.description }}">
  <link rel="preload" href="/assets/fonts/GraphikLCG-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/GraphikLCG-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/GraphikLCG-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script defer src="/assets/js/main.js"></script>
</head>

<body class="page__body">
  <div class="site-container">
    <header class="header">
  <div class="container header__container">
    <div class="search">
      <form action="#" class="search__form">
        <input type="search" class="input-reset search__input" placeholder="Найти ответ...">
      </form>
      <div class="search__dropdown">
        <ul class="list-reset search__list">
          <li class="search__item">
            <a href="#" class="search__link">
              123
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
