{% include 'header.njk' %}

<main class="main">
  <section class="not-found">
    <div class="container not-found__container">
      <h1>Страница не найдена</h1>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
